* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e2e6df;
    font-family: Arial;
    --text: #818580;
    --border: white;
}

.links {
    background-color: #ddf1a5;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.links ul li { 
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: plum;
    font-size: 25px;
    font-weight: bold;
}

nav a:hover {
    color: var(--text);
    background-color: var(--border);
  }

.header { 
    display: flex;
    justify-content: center;
} 

.hello {
   flex-direction: column;
}

figure img {
    border-radius: 50%;
    border: 5px solid var(--border);
    width: 200px;
    height: auto;
    float: left;
    margin-right: 25px;
  }

  h1 {
    font-size: 40px;
    color: var(--text);
}

.header p {
    font-size: 20px;
    color: var(--text);
    margin-top: 10px;
}

.background1,
.background2
 {
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    border-top: 5px solid var(--border);
    border-bottom: 5px solid var(--border);
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/070/873/non_2x/abstract-banner-web-white-and-gray-geometric-hexagon-overlapping-technology-corporate-design-background-with-halftone-effect-vector.jpg);
    background-size: cover;
    background-position: center;
}

.background2 {
    margin-top: 50px;
    

}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


h2 {
    font-size: 30px;
    color: plum;
    background-color: #ddf1a5;
}

/* make items to be in list order */
.box>* {
    flex: 1 1 160px;
}     .box {
    display: flex;
    flex-wrap: wrap;
}

/* sets border and layout of listed projects*/
.travel,
.cook,
.swim,
.active {
    margin: 30px 10px 50px 10px;
    border: 5px solid var(--border);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 390px;
    height: 360px;
}

/*styles h3 heading*/
h3 {
    font-size: 20px;
    color: var(--text);
    margin: 10px 10px 10px 10px;
}

/* sets picture size and roungs edges */
.picture { 
    width: 380px;
    height: 300px;
    border-radius: 25px;
    
}

.text,
.contact
 {
    font-size: 20px;
    color: var(--text);
    margin: 10px 10px 50px 10px;
    line-height: 40px;
}

.history {
    margin: 10px 10px 50px 5px;
    /* padding-left: 3rem; */
}
 
/* rem and em are more mobily responses then px's! */
.history li {
    font-size: 20px;
    color: var(--text); 
    line-height: 50px;
}

footer  {
    text-align: center;
}

footer{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/070/873/non_2x/abstract-banner-web-white-and-gray-geometric-hexagon-overlapping-technology-corporate-design-background-with-halftone-effect-vector.jpg);
    height: 200px;
    width: 100%;
}


.contact { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;   
}

.contact li {
    margin-top: 50px;
    font-size: 25px;
    text-decoration: underline;
}
   
@media screen and (max-width: 992px) {
    .container,
    .contact {
        background-color: aqua;
    }
}

